<footer class="footer">
    <div class="footer__top">
      <p>Contacto: <a href="mailto:berferlo@uoc.edu.es">berferlo@uoc.edu.es</a> | Telf: 666666666</p>
    </div>
    <div class="footer__bottom">
      <div class="footer__logo">
        <img src="./assets/images/logo.png" alt="Logo" />
      </div>
      <ul class="footer__links">
        <li><a href="index.html">Principal</a></li>
        <li><a href="speakers.html">Participantes</a></li>
        <li><a href="article.html">Blog</a></li>
        <li><a href="form.html">Contacto</a></li>
      </ul>
      <div class="footer__social">
        <a href="#" aria-label="Google Plus"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>