<header class="header">
    <div class="header__logo">
      <picture>
        <source srcset="./assets/images/logo.png?as=webp&width=100" type="image/webp" />
        <img src="./assets/images/logo.png?width=100" alt="Logo">
      </picture>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li><a href="./speakers.html">Participantes</a></li>
        <li><a href="./article.html">Blog</a></li>
        <li><a href="./form.html">Contacto</a></li>
      </ul>
    </nav>
  </header>